<%= render 'navbar' %>

<section class="hero">
  <div class="hero-body">
    <%= simple_form_for @student, html: { multipart: true } do |f| %>
      <%= f.error_notification %>


      <div class="field">
        <label class="label">Grade</label>
          <div class="control">
            <div class="select">
              <%= f.input_field :grade, collection: Student::Grade, prompt: "Grade" %>
            </div>
          </div>
      </div>

      <div class="field">
        <label class="label">Gender</label>
          <div class="control">
            <div class="select">
              <%= f.input_field :gender, collection: Student::Gender, prompt: "Gender" %>
            </div>
          </div>
      </div>

      <div class="field">
        <label class="label">Description</label>
          <div class="control">
            <%= f.text_area :description, class: "textarea", placeholder: "A bit about yourself" %>
          </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <%= f.button :submit, "Submit", text: "hello", class: 'button is-info' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
