<footer class="footer has-background-white-ter">
  <div class="tile is-ancestor">
    <div class="tile is-parent is-4">
      <div class="tile is-child has-text-centered">
        <ul>
          <li class="subtitle is-bold has-text-black">Media</li>
          <a class="has-text-grey-dark"> <!-- href="https://www.Instagram.com/tutorhack">-->Instagram</a><p />
          <a class="has-text-grey-dark">testing</a>
        </ul>
      </div>
    </div>
    <div class="tile is-parent is-4">
      <div class="tile is-child has-text-centered">
        <ul>
          <li class="subtitle is-bold has-text-black">Resources</li>
          <a class="has-text-grey-dark" href="<%= home_pricing_path %>">Pricing</a><p />
          <a class="has-text-grey-dark" href="<%= home_about_path %>">About</a><p />
          <!-- <a class="has-text-grey-dark" href="<#%= home_stats_path %>">Stats</a><p /> -->
          <a class="has-text-grey-dark" href="<%= home_help_service_path %>">Help Service</a>
        </ul>
      </div>
    </div>

    <div class="tile is-parent is-4">
      <div class="tile is-child has-text-centered">
        <ul>
          <li class="subtitle is-bold has-text-black">Admin</li>
          <a href="<%= new_user_registration_path %>" class="has-text-grey-dark">Sign Up<a><p />
          <a href="<%= new_user_session_path %>" class="has-text-grey-dark">Log in</a>
        </ul>
      </div>
    </div>
  </div>
  <hr class="has-background-black" style="width: 80%; margin-left: 10%; margin-right: 10%;">

  <section>
    <div class="tile is-ancestor has-text-centered">
      <div class="tile is-parent">
        <div class="tile is-child">
          <a class="navbar-icon" href="<%= root_path %>">
            <div style="width: 55px; height: 55px; margin-bottom: -11%; margin-left: 15%;">
              <%= image_tag("Easel-icon.png") %>
            </div>

            <a class="#" href="<%= root_path %>" style="font-size: 155%; font-family: Comic Sans MS; margin-left: -10%;">Tutorhacks</a>
          </a>
        </div>
      </div>

      <div class="tile is-parent">
        <div class="tile is-child" style="padding-top: 2.5%;">
          <b>All rights reserved to Tutorhacks</b>
          <br>Copyright &copy;<%= Date.today.year %></br>
        </div>
      </div>

      <div class="tile is-parent">
        <div class="tile is-child" style="padding-top: 2.5%;">
          <b>Made by students for students with &lt;/&gt; and &hearts; from Ottawa<b>
        </div>
      </div>
    </div>
  </section>
</footer>
