<footer class="footer has-background-white-ter">
  <div class="tile is-ancestor">
    <div class="tile is-parent is-4">
      <div class="tile is-child has-text-centered">
        <ul>
          <li class="subtitle is-bold has-text-black">Admin</li>
          <a class="has-text-grey-dark">testing</a><p />
          <a class="has-text-grey-dark">testing</a><p />
          <a class="has-text-grey-dark">testing</a>
        </ul>
      </div>
    </div>
    <div class="tile is-parent is-4">
      <div class="tile is-child has-text-centered">
        <ul>
          <li class="subtitle is-bold has-text-black">Resources</li>
          <a class="has-text-grey-dark" href="<%= home_pricing_path %>">Pricing</a><p />
          <a class="has-text-grey-dark" href="<%= home_about_path %>">About</a><p />
          <a class="has-text-grey-dark">testing</a>
        </ul>
      </div>
    </div>

    <div class="tile is-parent is-4">
      <div class="tile is-child has-text-centered">
        <ul>
          <li class="subtitle is-bold has-text-black">Admin</li>
          <a href="<%= new_user_registration_path %>" class="has-text-grey-dark">Sign Up<a><p />
          <a href="<%= new_user_session_path %>" class="has-text-grey-dark">Log in</a>
        </ul>
      </div>
    </div>
  </div>
  <hr class="has-background-black" style="width: 80%; margin-left: 10%; margin-right: 10%;">

  <section>
    <div class="tile is-ancestor has-text-centered">
      <div class="tile is-parent has-background-info">
        <div class="tile is-child">
          <a class="navbar-icon" href="<%= root_path %>">
            <div style="width: 55px; height: 55px;">
              <%= image_tag("Easel-icon.png") %>
            </div>

            <a class="#" href="<%= root_path %>" style="margin-top: 6.5%; font-size: 155%; font-family: Comic Sans MS; margin-left: 3%">Tutorhacks</a>
          </a>
        </div>
      </div>

      <div class="tile is-parent has-background-primary">
        <div class="tile is-child">
          All rights reserved to Tutorhacks
        </div>
      </div>

      <div class="tile is-parent has-background-warning">
        <div class="tile is-child">
          Made with &hearts; from Ottawa
        </div>
      </div>
    </div>
  </section>
</footer>
