<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- <link rel="stylesheet" href="/stylesheets/debug.css"> -->
	</head>
	<body>
		<%= render "navbar" %>

		<section class="hero is-primary is-fullheight">
			<div class="has-text-centered mt6">
				<div class="title is-1 is-underlined">Plans + Pricing</div>
			</div>

		  <div class="hero-body" style=" width: 90%; margin-left: 5%; margin-right: 5%;">
		    <div class="tile is-ancestor">
		    	<div class="tile is-6">
		    		<div class="tile is-parent">
		    			<article class="tile is-child is-white notification has-text-centered">
								<img src="https://image.flaticon.com/icons/png/512/201/201596.png" alt="" class="" style="width: 128px; height: 128px; margin-top: -6%; margin-bottom: 4%;">
								<!-- <div class="" style="width: 128px; height: 128px; margin-top: -7%; margin-bottom: 4%; margin-left: 37%; margin-right: 37%;">
									<#%= image_tag("pricing/pricing-student-icon.png") %>
								</div> -->

								<div class="subtitle has-text-centered has-text-black" style="margin-bottom: -4%; font-size: 170%;">Student Plan</div>
								<hr class="hr">

								<div class="content">
									<div class="has-text-info">
										<b style="font-size: 165%;">Free</b>/<sub style="font-size: 95%;">Month</sub>
									</div> <p/>
									<p><b>Unlimited</b> searches</p>
									<p><b>Unlimited</b> requests</p>
									<p><b>Fully</b> custom</p>
									<p><b>Full Access</b> to website</p>
									<p></p>
									<a class="button is-link is-rounded" href="<%= new_user_registration_path %>" style="min-width: 20%; font-size: 115%;">Sign up</a>
								</div>
		    			</article>
		    		</div>
		    	</div>

					<div class="tile is-6">
		    		<div class="tile is-parent">
		    			<article class="tile is-child is-white notification has-text-centered">
								<img src="http://hannsaa.com/images/teacherslogo.png" alt="" class="" style="width: 128px; height: 128px; margin-top: -6%; margin-bottom: 4%;">
								<!-- <div class="" style="width: 128px; height: 128px; margin-top: -6%; margin-bottom: 4%;">
									<#%= image_tag("pricing/pricing-tutor-icon.png") %>
								</div> -->

								<div class="subtitle has-text-centered has-text-black" style="margin-bottom: -4%; font-size: 170%;">Tutor Plan</div>
								<hr class="hr">

								<div class="content">
									<div class="has-text-info">
										<b style="font-size: 165%;">$9.99</b>/<sub style="font-size: 95%;">Month</sub>
									</div> <p/>
									<p><b>All Students</b> can search your profile</p>
									<p><b>Unlimited</b> subjects</p>
									<p><b>Fully</b> custom</p>
									<p><b>Full Access</b> to website</p>
									<p></p>
									<a class="button is-link is-rounded" href="<%= new_user_registration_path %>" style="min-width: 20%; font-size: 115%;">Sign up</a>
								</div>
		    			</article>
		    		</div>
		    	</div>
		    </div>
		  </div>
		</section>

		<section class="hero-body">
			<div class="title has-text-centered has-text-black">
				<b><i>FAQ</i></b>
			</div>

			<div class="tile is-ancestor has-background-white-bis pb4" style="margin-left: 5%; margin-right: 5%; margin-bottom: 4%; border-radius: 3%; margin-top: 2%;">
				<div class="tile">
					<div class="tile is-parent">

						<div class="tile is-child is-size-4" style="padding-right: 5%;">
							<div>
								<div class="has-text-danger mt5"><b>Q: What comes with the student plan1?</b></div>
								<div class="has-text-link">A: This is just a test sentencd and will be replaced with something that is better. This is just made to make the sentence longer.</div>
							</div>

							<div>
								<div class="has-text-danger mt5"><b>Q: What comes with the student plan1?</b></div>
								<div class="has-text-link">A: This is just a test sentencd and will be replaced with something that is better. This is just made to make the sentence longer.</div>
							</div>

							<div>
								<div class="has-text-danger mt5"><b>Q: What comes with the student plan1?</b></div>
								<div class="has-text-link">A: This is just a test sentencd and will be replaced with something that is better. This is just made to make the sentence longer.</div>
							</div>
						</div>

						<div class="tile is-child is-size-4 is-vertical">
							<div>
								<div class="has-text-danger mt5"><b>Q: What comes with the student plan2?</b></div>
								<div class="has-text-link">A: This is just a test sentencd and will be replaced with something that is better. This is just made to make the sentence longer.</div>
							</div>

							<div>
								<div class="has-text-danger mt5"><b>Q: What comes with the student plan2?</b></div>
								<div class="has-text-link">A: This is just a test sentencd and will be replaced with something that is better. This is just made to make the sentence longer.</div>
							</div>

							<div>
								<div class="has-text-danger mt5"><b>Q: What comes with the student plan2?</b></div>
								<div class="has-text-link">A: This is just a test sentencd and will be replaced with something that is better. This is just made to make the sentence longer.</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>


		<section class="hero is-medium is-bold" style="background-color: #343477;">
		  <div class="hero-body">
		    <div class="container">
		      <h1 class="title has-text-white">
						Ready to get started?

						<div class="" style="float: right;">
							<a class="button is-large is-white is-capitalized" href="<%=new_user_registration_path %>">Create an account</a>
							<a class="button is-large is-white is-outlined is-capitalized" href="<%= home_about_path %>">More about us</a>
						</div>
		      </h1>
		    </div>
		  </div>
		</section>




    <%= render "footer" %>
	</body>
</html>
